@import "tailwindcss";

/* Custom Global Scrollbar for CodeLume */
::-webkit-scrollbar {
  width: 14px; 
  height: 14px;
}

::-webkit-scrollbar-track {
  background: #030712; 
}

::-webkit-scrollbar-thumb {
  background: #3b82f6; 
  border-radius: 10px;
  border: 3px solid #030712; 
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; 
}

/* Yeh line upar aur neechay walay arrows ko completely hide kar degi */
::-webkit-scrollbar-button {
  display: none;
}

/* Firefox Browser Support */
* {
  scrollbar-width: auto; 
  scrollbar-color: #3b82f6 #030712;
}